/* SPDX-License-Identifier: MIT */
.app-prose ul {
  overflow-x: visible;
}

/* ツールチップのターゲット */
.tooltip {
  position: relative;
  text-decoration: dotted underline;
}

/* ツールチップのコンテンツ */
.tooltip-content {
  /* 真上に表示 */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  /* 手前に表示 */
  z-index: 10;

  /* 外枠 */
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 7px;

  /* 中身 */
  background-color: var(--color-background);
  width: max-content;
  max-width: 80ch;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 0.8rem;

  /* デフォルトで非表示 */
  opacity: 0;
  visibility: hidden;

  /* スッと現れる */
  transition: opacity 0.1s ease-in-out;
}

/* ツールチップのターゲットとコンテンツの隙間にカーソル判定を加える */
.tooltip-content::before {
  content: "";

  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 8px;

  pointer-events: auto;
}

/* ツールチップの吹き出し */
.tooltip-content::after {
  content: "";

  /* 真上に表示 */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  /* ▼を描く */
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-border);
}

/* ツールチップに触れたとき */
.tooltip:hover .tooltip-content {
  /* 表示 */
  opacity: 1;
  visibility: visible;
}
