/* SPDX-License-Identifier: MIT */
@plugin "@tailwindcss/typography";

/* ツールチップのターゲット */
.tooltip {
  @apply relative underline decoration-dotted;
}

/* ツールチップのコンテンツ */
.tooltip-content {
  /* 真上に表示 */
  left: 50%;
  transform: translateX(-50%);
  @apply absolute bottom-full z-10;

  /* 外枠 */
  @apply mx-1 mb-1.5 rounded border-2 border-(--color-border) px-2 py-3;

  /* 中身 */
  @apply box-border w-max max-w-[min(80ch,100vw)] bg-(--color-background) text-center text-sm wrap-break-word;

  /* デフォルトで非表示 */
  opacity: 0%;
  display: none;

  /* スッと現れる */
  @apply transition-opacity;
}

/* ツールチップのターゲットとコンテンツの隙間にカーソル判定を加える */
.tooltip-content::before {
  @apply pointer-events-auto absolute top-full left-0 h-2 w-full content-[""];
}

/* ツールチップの吹き出し */
.tooltip-content::after {
  /* 真上に表示 */
  @apply absolute top-full left-1/2 -translate-x-1/2 content-[""];

  /* ▼を描く */
  @apply h-0 w-0 border-t-8 border-r-8 border-l-8 border-t-(--color-border) border-r-transparent border-l-transparent;
}

/* ツールチップに触れたとき */
.tooltip:hover .tooltip-content {
  /* 表示 */
  opacity: 100%;
  display: block;
}
