---
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

// TODO: JSONから取得する
---

<Layout title={"Copyright Notice"}>
  <Header />
  <Main pageTitle="Copyright Notice">
    <h2>Astro</h2>
  </Main>

  <Footer />
</Layout>
