---
import { Icon } from "astro-icon/components";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";
---

{
  SITE.showBackButton && (
    <div class="mx-auto flex w-full max-w-app items-center justify-start px-2">
      <LinkButton
        id="back-button"
        href="/"
        class="focus-outline mt-8 mb-2 flex hover:text-foreground/75"
      >
        <Icon
          name="tabler:chevron-left"
          class="inline-block size-6 rtl:rotate-180"
        />
        <span>Go back</span>
      </LinkButton>
    </div>
  )
}

<script>
  /* Update Search Praam */
  document.addEventListener("astro:page-load", () => {
    const backButton = document.getElementById(
      "back-button"
    ) as HTMLAnchorElement;
    if (backButton === null) return;
    const backUrl = sessionStorage.getItem("backUrl");
    if (backUrl === null) return;
    backButton.href = backUrl;
  });
</script>
