---
import { Icon } from "astro-icon/components";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

export interface Props {
  class?: string;
  size?: "sm" | "lg";
  timezone: string | undefined;
  pubDatetime: string | Date;
  modDatetime: string | Date | undefined | null;
}

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
  timezone: postTimezone,
} = Astro.props;

/* ========== Formatted Datetime ========== */
const modDatetimeLocal = dayjs(modDatetime).tz(
  postTimezone || SITE.timezone
);
const pubDatetimeLocal = dayjs(pubDatetime).tz(
  postTimezone || SITE.timezone
);

const isModified = modDatetimeLocal && modDatetimeLocal > pubDatetimeLocal.add(1, "day");

// const date = datetime.format("D MMM, YYYY"); // e.g., '22 Mar, 2025'
const modDate = modDatetimeLocal.format("YYYY-MM-DD");
const pubDate = pubDatetimeLocal.format("YYYY-MM-DD");
---

<div class:list={["flex items-center gap-x-1 opacity-80", className]}>
  <Icon name="tabler:calendar"
    class:list={[
      "inline-block size-6 min-w-[1.375rem]",
      { "scale-90": size === "sm" },
    ]}
  />
  <time
    class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    datetime={pubDatetimeLocal.toISOString()}>{pubDate}</time
  >
  {
    isModified && (
      <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}></span>
      <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
        Updated:
        <time
          class:list={["text-sm", { "sm:text-base": size === "lg" }]}
          datetime={modDatetimeLocal.toISOString()}>{modDate}</time
        >
      </span>
    )
  }
</div>
