---
import type { MarkdownHeading } from "astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

// TODO: TOCを作る
---

<div class="mt-8 px-4">
  <details>
    <summary class="mx-auto">Table of Contents</summary>
    <ul class="mt-2 list-disc px-2 pl-6">
      {
        headings
          .filter(h => h.depth < 5)
          .map(h => (
            <li>
              <a href={`#${h.slug}`}>{h.text}</a>
            </li>
          ))
      }
    </ul>
  </details>
</div>
