---
import type { MarkdownHeading } from "astro";
import TocItem from "@/components/TocItem.astro";

const { headings, maxDepth } = Astro.props;

type TocNode = MarkdownHeading | TocNode[];

function buildTocTree(
  headings: MarkdownHeading[],
  maxDepth: number = Infinity
) {
  let minDepth = Infinity;
  for (const h of headings) {
    minDepth = Math.min(minDepth, h.depth);
  }

  const baseDepth = minDepth - 1;
  const stack: TocNode[][] = [];
  for (const h of headings) {
    if (h.depth > maxDepth) continue;
    const depth = h.depth - baseDepth;
    if (stack.length > depth) {
      stack.length = depth;
    } else {
      while (stack.length < depth) {
        const items: TocNode[] = [];
        stack.at(-1)?.push(items);
        stack.push(items);
      }
    }
    stack.at(-1)?.push(h);
  }
  return [stack[0] ?? [], minDepth] as const;
}

const [tree, minDepth] = buildTocTree(headings, maxDepth);

export interface Props {
  headings: MarkdownHeading[];
  maxDepth?: number | undefined;
}
---

{
  tree.length > 0 && (
    <nav class="max-w-fit border-l py-4 pl-5 wrap-normal">
      <TocItem items={tree} depth={minDepth} />
    </nav>
    <script src="@/scripts/stickyToc.ts"></script>
  )
}
