---
import type { MarkdownHeading } from "astro";

type TocItem = MarkdownHeading | TocItem[];

const { items, nested } = Astro.props;

export interface Props {
  items: TocItem[];
  nested?: boolean | undefined;
}
---

<ul class={`flex flex-col gap-y-3 ${nested ? "pl-2" : ""}`}>
  {
    items.map(item => (
      <>
        {Array.isArray(item) ? (
          <Astro.self items={item} nested />
        ) : (
          <li class="-indent-2">
            <a
              class="border-(--color-accent) pl-2 hover:text-accent"
              href={`#${item.slug}`}
            >
              {item.text}
            </a>
          </li>
        )}
      </>
    ))
  }
</ul>
