---
import type { MarkdownHeading } from "astro";

type TocItem = MarkdownHeading | TocItem[];

const { items, depth, maxDepth, nested } = Astro.props;

export interface Props {
  items: TocItem[];
  depth: number;
  maxDepth?: number | undefined;
  nested?: boolean | undefined;
}
---

{
  maxDepth !== undefined && depth > maxDepth ? undefined : (
    <ul class={`flex flex-col gap-y-3 ${nested ? "pl-2" : ""}`}>
      {items.map(item => (
        <>
          {Array.isArray(item) ? (
            <li>
              <Astro.self
                items={item}
                depth={depth + 1}
                maxDepth={maxDepth}
                nested
              />
            </li>
          ) : (
            <li class="-indent-2">
              <a
                class="border-(--color-accent) pl-2 hover:text-accent"
                href={`#${item.slug}`}
              >
                {item.text}
              </a>
            </li>
          )}
        </>
      ))}
    </ul>
  )
}
