---
import type { MarkdownHeading } from "astro";

type TocItem = MarkdownHeading | TocItem[];

const { items, nested } = Astro.props;

export interface Props {
  items: TocItem[];
  nested?: boolean | undefined;
}
---

<ul class={`flex flex-col gap-3 ${nested ? "pl-2" : ""}`}>
  {items.map(item => (
    <>
      {Array.isArray(item) ? (<Astro.self items={item} nested />) : (<li><a class="hover:text-accent pl-2 border-(--color-accent)" href={`#${item.slug}`}>{item.text}</a></li>)}
    </>
  ))}
</ul>
